{% extends "base.html" %} {% block content %}
<div class="text-center">
    <hr/>
    <h3>To customize this application, you can set some environment variables</h3>
    <hr/>
    <table class="table table-striped table-borderless text-left">
        <thead>
            <tr>
              <th scope="col">Env</th>
              <th scope="col">Default</th>
              <th scope="col">Current</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td>DEMO_APP_NAME</td>
                <td><pre>Demo App</pre></td>
                <td><pre>{{ app.name }}</pre></td>
                <td>Display name of the application.</td>
            </tr>
            <tr>
                <td>DEMO_APP_PORT</td>
                <td><pre>8080</pre></td>
                <td><pre>{{ app.port }}</pre></td>
                <td>Port on which the application can be reached.</td>
            </tr>
            <tr>
                <td>DEMO_APP_BACKGROUND_COLOR</td>
                <td><pre>darkgreen</pre></td>
                <td><pre>{{ app.color }}</pre></td>
                <td>Background and main color of the application. The color can be used to easily identify an application, e.g. when two or more applications are deployed.<br/><br/>Colors: black, blue, darkblue, cyan, darkcyan, gray, green, darkgreen, lightgray, magenta, darkmagenta, red, darkred, white, yellow, darkyellow</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}