{% extends "base.html" %} {% block content %}
<div>
    <hr/>
    <h3 class="text-center">System Informations</h3>
    <hr/>
    <table class="table table-striped table-borderless">
        <tbody>
            <tr>
                <th>Hostname</th>
                <td>{{ info.plat.node() }}</td>
            </tr>
            <tr>
                <th>Boot Time</th>
                <td>{{ info.boottime }}</td>
            </tr>
            <tr>
                <th>OS Platform</th>
                <td>{{ info.plat.system() }}</td>
            </tr>
            <tr>
                <th>OS Version</th>
                <td>{{ info.plat.version() }}</td>
            </tr>
            <tr>
                <th>Python Version</th>
                <td>{{ info.plat.python_version() }}</td>
            </tr>
            <tr>
                <th>Processor &amp; Cores</th>
                <td>{{ info.cpu.count }} x {{ info.cpu.brand }}</td>
            </tr>
            <tr>
                <th>System Memory</th>
                <td>{{ (info.mem.total / (1024*1024*1024)) | round(0,'ceil') |int }}GB ({{info.mem.percent}}% used)</td>
            </tr>
            <tr>
                <th>Network Interfaces</th>
                <td>
                    {% for iface, snics in info.net.items() %} {% for snic in snics if (snic.family == 2) %}
                    <li>{{ iface }} - <b>{{ snic.address }}</b></li>
                    {% endfor %} {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}